.imajin__container {
	max-width: 1366px;
	margin: 0 auto;
	height: 100vh;
}
.imajin__title {
	font-size: 40px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 15px;
}
.imajin__purpleLine {
	display: flex;
	align-self: center;
	border-top: 5px solid #7c448b;
	width: 220px;
}
@media screen and (max-width: 400px) {
	.imajin__container {
		max-width: 400px;
		display: flex;
		flex-direction: column;
	}
	.imajin__title {
		font-size: 30px;
		text-align: center;
	}
	.imajin__contactsContainer {
		padding: 30px 0 0 10px;
	}
	.imajin__details {
		margin-left: 10px;
	}
}
